# Root
deployment/
images/
TODO
README.md
kubernetes.yaml
LICENSE

# Back
backend/__pycache__/
backend/data/
backend/tests/
backend/dist/
backend/.gitignore
backend/README.md

# Front
frontend/node_modules/
frontend/dist/
frontend/tests/
frontend/.gitignore
frontend/README.md