# Root
deployment/
images/
TODO
README.md
kubernetes.yaml
LICENSE

# Back
debiai_data/
debiaiServer/__pycache__/
debiaiServer/tests/
debiaiServer/dist/
debiaiServer/.gitignore
debiaiServer/README.md

# Front
frontend/node_modules/
frontend/dist/
frontend/tests/
frontend/.gitignore
frontend/README.md