# Byte-compiled / optimized / DLL files
__pycache__/
venv/

# Build and packaging
dist/
build/
debiai_data/
debiai_data_test/
*.egg-info/

# Dependency directories
frontend/node_modules/

# coverage
.coverage

# Scripts
build_and_run.sh

# Deployement
deployment/

# VSCODE
.vscode/
