include debiaiServer/swagger.yaml
include debiaiServer/exploration/swagger.yaml
include debiaiServer/exploration_statistics/swagger.yaml
include debiaiServer/config/config.ini
include images/ *
recursive-include debiaiServer/dist *
