# Check that the code is formatted with black

name: Black Format Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          cd backend
          python -m pip install --upgrade pip
          pip install black
      - name: Check that the code is formatted with black
        run: |
          black backend/ --check --diff