:root {
  --fontColor: #2c3e50;
  --fontColorLight: #66798d;

  /* DebiAI colors */
  --primary: #009ddf; // Important buttons
  --primaryLight: #c2edff;
  --primaryDark: #046c99;

  --secondary: #40c6ca; // Columns
  --secondaryDark: #3eb2b6;

  --grey: #ebebeb; // Card title & data group background
  --greyLight: #f1f1f1; // Button & header background
  --greyDark: #d4d4d4; // Data name & value
  --greyDarker: #8a8a8a; // Button border

  /* Basics */
  --blue: var(--primary);
  --blueDark: var(--primaryDark);
  --success: #28a745;
  --successDark: #196b2c;
  --warning: #ff9800;
  --warningDark: #b26a00;
  --danger: #dc3545;
  --dangerDark: #a82734;

  /* Data Type */
  --number: #92cee6;
  --class: #ffc107;

  /* Categories */
  --undefined: #e0a9ae;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  font-size: 14px;
  /* line-height: 1.5; */
}

h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}

transition-group {
  padding: 0px;
}

/* === BUTTON === */
button {
  position: relative;
  color: var(--fontColor);
  cursor: pointer;
  margin: 0;
  border: solid var(--fontColor) 1px;
  border-radius: 4px;
  padding: 5px 8px;

  background-color: var(--greyLight);
  transition: background 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }

  &:disabled {
    cursor: default;
    filter: brightness(80%);
    opacity: 0.6;
  }

  svg {
    fill: black;
  }

  &.green {
    border-color: var(--success);
    color: var(--success);
    font-weight: bold;

    svg {
      fill: var(--success);
    }
  }

  &.red {
    border-color: var(--danger);
    color: var(--danger);
    font-weight: bold;

    svg {
      fill: var(--danger);
    }
  }

  &.blue {
    border-color: var(--blue);
    color: var(--blue);
    font-weight: bold;

    svg {
      fill: var(--blue);
    }
  }

  &.warning {
    border-color: var(--warning);
    color: var(--warning);
    font-weight: bold;

    svg {
      fill: var(--warning);
    }
  }

  &.highlighted {
    animation: glowing 4s infinite;
    font-weight: bold;
    color: var(--primary);
    border-color: var(--primary);
    background-color: white;

    svg {
      fill: var(--primary);
    }
  }

  &.borderless {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: var(--fontColorLight);
    font-weight: bold;

    svg {
      fill: var(--fontColorLight);
    }
  }

  @keyframes glowing {
    0% {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.334);
    }
    50% {
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.234);
    }
    100% {
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.334);
    }
  }

  .badge {
    min-width: 13px;
    height: 16px;
    position: absolute;
    background: var(--danger);
    display: flex;
    align-items: center;
    justify-content: center;
    top: -9px;
    right: -8px;
    padding: 1px 3px 1px 3px;
    font-size: 0.8em;
    color: white;
    border-radius: 100%;
    font-weight: bold;
  }

  &.radioBtn {
    border: solid 1px var(--greyDarker);
    padding: 5px;
    margin: 1px;
  }

  &.radioBtn.selected {
    background-color: var(--secondary);
    border: solid 1px var(--secondary);
    color: white;
    font-weight: bold;
  }
}

button + button {
  margin-left: 5px;
}

/* Card */
.card {
  background-color: white;
  border: solid 1px var(--greyDark);
  display: flex;
  flex-direction: column;
  margin: 10px;

  .title {
    display: flex;
    align-items: center;
    background-color: var(--grey);
    padding: 10px;

    h2 {
      font-size: 1.2em;
    }

    h3 {
      font-size: 1em;
    }
  }
}

/* Data  */
.dataGroup {
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 3px;
  background: var(--grey);

  .data {
    display: flex;

    .name {
      background: var(--greyDark);
      border-right: solid 2px var(--grey);
      color: black;
      padding: 2px 6px 2px 6px;
      min-height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: stretch;
    }

    .value {
      background: var(--greyDark);
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--fontColor);
    }
  }
}

/* Item lists */
.itemList {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    padding: 15px;
    margin: 0 20px 0 20px;
    transition: all ease-out 0.1s;
    align-items: center;
    border: solid 1px transparent;
    border-left: solid 8px transparent;
    border-bottom: solid rgba(0, 0, 0, 0.172) 1px;
  }

  .item:first-child {
    border-top: solid rgba(0, 0, 0, 0.172) 1px;
  }

  .item.selected {
    background-color: rgba(147, 58, 58, 0.06);
    border: solid 1px var(--primary);
    border-left: solid 8px var(--primary);
  }

  .item.selectable:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* Tips */
.tip {
  background-color: var(--blue);
  border-left: var(--blueDark) solid 5px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  opacity: 0.8;
  transition: all ease-out 0.1s;
}
.tip:hover {
  opacity: 1;
}

/* Other */
.error {
  background-color: var(--danger);
  border-bottom: solid 2px var(--dangerDark);
  color: white;
  padding: 6px;
}

.unelectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.aligned {
  display: flex;
  align-items: center;
}

.spaced {
  justify-content: space-between;
}

.centered {
  justify-content: center;
}
.gapped {
  gap: 7px;
}

.marged {
  margin: 10px;
}
.margedSide {
  margin-left: 10px;
  margin-right: 10px;
}
.padded {
  padding: 10px;
}
.padded-bot {
  padding-bottom: 10px;
}
.rounded {
  border-radius: 4px;
}

.date {
  opacity: 0.6;
}
.tag {
  border: solid 1px var(--fontColorLight);
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.9em;
  color: var(--fontColorLight);

  svg {
    fill: var(--fontColorLight);
  }

  &.success {
    color: var(--success);
    border-color: var(--success);
  }
  &.error {
    color: var(--danger);
    border-color: var(--danger);
    background-color: transparent;
  }
}

// Inputs
input {
  &.search {
    height: 26px;
    border-radius: 5px;
    border: 1px solid var(--greyDarker);
    margin: 2px;
    padding-left: 7px;
  }

  // Custom checkbox
  &[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border: solid 1px var(--greyDarker);
    border-radius: 4px;
    margin: 2px;
    transition: all ease-out 0.1s;
    position: relative;
    cursor: pointer;

    background-color: var(--greyLight);

    &:checked {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &:checked:after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 3px;
      height: 6px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

/* Animations */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.scale-enter-active,
.scale-leave-active {
  overflow: hidden;
  height: 20px;
  transition: height 10ms ease-out;
}

.scale-enter,
.scale-leave-to {
  height: 0px;
  opacity: 0;
}

@keyframes hiThere {
  0% {
    transform: scale(1.01) translateY(-5px);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes removeWidget {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(0.99) translateY(5px);
  }
}
